h1{
    text-align: center;
}

form{
    margin: 0 25%;
    border: 1px dashed black;
    padding: 40px;
}
form input{
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    width: 250px;
}

#food1,#food2,#food3,#food4,#food5{
    width: auto;
}


#address{
    width: 320px;
}

#gender{
    padding: 5px;
    width: 250px;
    border: 1px solid blue;
    border-radius: 5px;
}
form > button{
    padding: 6px 30px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

form button:hover{
    background-color: white;
    color: blue;
}

th,tr,td{
    margin: 0;
    width: auto;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
}

table{
    margin: 5% 15%;
    border-spacing: 0;
}